@import "../bootstrap/core";

.cookies {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  min-height: 320px;
  min-width: 320px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba($black, 0.25);
  transition: height 0.5s;
  z-index: 99;
  background: $beige-dark;

  @include media-breakpoint-up("md") {
    width: 320px;
    left: auto;
  }
}

.cookies-close {
  display: none;
}

.no-text-decoration {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.switch-block {
  background-color: $gray-200;
}
