@import "../bootstrap/core";

.cookies {
  position: fixed;
  top: auto;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 320px;
  min-width: 320px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  transition: height 0.5s;
  z-index: 99;

  background: $beige-dark;
}

.cookies-close {
  display: none;
}

//.cookies button {
//  &:hover,
//  &:active,
//  &:focus {
//    text-decoration: none;
//  }
//}

.switch-block {
  background-color: $gray-200;
}
