@import "../bootstrap/core";

.cookies-settings {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba($black, 0.25);
  transition: height 0.5s;
  z-index: 99;
  background: $beige-dark;

  @include media-breakpoint-up("md") {
    width: 300px;
    left: auto;
  }
}

.cookies-header {
  font-size: $lead-font-size;
}
