@import "../bootstrap/core";

.cookies-settings {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba($black, 0.25);
  transition: height 0.5s;
  z-index: 99;
  background: $beige-dark;

  @include media-breakpoint-up("md") {
    width: 300px;
    left: auto;
  }
}

.cookies-header {
  font-size: $lead-font-size;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
