@import "../bootstrap/core";

.search-field {
  //width: 460px;
  //margin-left: 100%;
  width: auto;
  min-width: 400px;
}

.animated-search {
  flex: 1 1 auto;
}

.animated-search + .navbar-toggler {
  margin-left: $spacer;
}

.animated-search input {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 2px solid transparent;
  background: transparent;
  transition: $transition-base;

  &:hover,
  &:focus,
  &:valid {
    border-radius: 0;
    //border-radius: $input-border-radius;
    //background-color: $white;
    outline: none;
    border-bottom: 2px solid $primary;
  }

  &:focus,
  &:valid {
    width: 100%;
  }

  &::placeholder {
    color: $navbar-light-color;
    text-align: center;
  }
}
